<!DOCTYPE html>
<html lang="en">
  <head>
    <title></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
    <h1>GitHub Score</h1>
      <form (submit)="searchGithub()">
          Github Username:
          <input 
          type="text" 
          name="username" 
          required 
          minlength="1" 
          maxlength="50" 
          [(ngModel)]="username" 
          #name='ngModel'>
          Errors: {{ name.errors | json }}
          Valid: {{ name.valid | json }}
          <br><br>
          <input type="submit" value="Calculate my Github Score">
      </form>
  
    <br><br>
    <h1>Your Score: {{score}}</h1>
    <h2 *ngIf="score < 20">Needs Work!</h2>
    <h2 *ngIf="score >= 20 && score < 50">A Decent Start</h2>
    <h2 *ngIf="score >= 50 && score < 100">Doing Good!</h2>
    <h2 *ngIf="score >= 100 && score < 200">Great Job!</h2>
    <h2 *ngIf="score >= 200">Github Elite!</h2>
  </body>
</html>